<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui">  

    <h:head>         

    </h:head> 

    <h:form>  
        <p:menu toggleable="true">
            <p:submenu label="Torneo">
                <p:menuitem value="Registrar" outcome="registrotorneo"     icon="ui-icon-disk" />
                <p:menuitem value="Modificar" outcome="modificatorneo"   icon="ui-icon-arrowrefresh-1-w"/>
            </p:submenu>
            <p:submenu label="País">
                <p:menuitem value="Actualizar"  outcome="registropais"  icon="ui-icon-disk" />   
            </p:submenu>
            <p:submenu label="Metrópoli">
                <p:menuitem value="Actualizar" outcome="registrometropolis"    icon="ui-icon-disk" />
            </p:submenu>
            <p:submenu label="Jugadores">
                <p:menuitem value="Consulta"   outcome="jugadores"    icon="ui-icon-search"/>
            </p:submenu>
            <p:submenu label="Modulo de pagos">
                <p:menuitem value="Pago"   outcome="modulopagos"    icon="fa fa-maxcdn"/>
            </p:submenu>
            <p:submenu label="Partidas">
                <p:menuitem value="Genera Random"   outcome="partidarandom"    icon="fa fa-maxcdn"/>
            </p:submenu>

        </p:menu>
    </h:form>                              


</html>