<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">  

    <h:head>  
        <link href="css/estilomenuadmin.css" type="text/css" rel="stylesheet" />
        <script>
            PrimeFaces.locales["es"] = {
                closeText: "Cerrar",
                prevText: "Anterior",
                nextText: "Siguiente",
                monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthNamesShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                dayNames: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                weekHeader: "Semana",
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: "",
                timeOnlyTitle: "Solo hora",
                timeText: "Tiempo",
                hourText: "Hora",
                minuteText: "Minuto",
                secondText: "Segundo",
                currentText: "Fecha actual",
                ampm: false,
                month: "Mes",
                week: "Semana",
                day: "Día",
                allDayText: "Todo el día"
            };

        
        </script>

    </h:head> 



    <h:body> 
        <div id="container"> 

            <div id="menu" >
                <img src="img/logo2.jpg" />
                <ui:include src="menuadmin.xhtml"></ui:include>
            </div>
            <div id="content_sup">

            </div>
            <div id="content" >

                <div class="ui-grid ui-grid-responsive">
                    <p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-15" layout="grid" styleClass="ui-panelgrid-blank">
                        <h:form id="varmodifica">
                            <p:growl  showDetail="true" sticky="true" /> 
                            <p:growl id="mensaje" showDetail="true" sticky="true" /> 
                            <c:if test="#{modificaTorneoManaged.varmodifica == 0}">
                                <p:dataTable var="torneo" value="#{modificaTorneoManaged.torneos}" style="width: 1000px">
                                    <f:facet name="header">
                                        Datos del torneo
                                    </f:facet>
                                    <p:column headerText="Nombre">
                                        <div align="center">
                                            <h:outputText value="#{torneo.torneo}" />
                                        </div>
                                    </p:column>
                                    <p:column headerText="Sede">
                                        <div align="center">
                                            <h:outputText value="#{torneo.sede}" />
                                        </div>
                                    </p:column>
                                    <p:column headerText="Fecha inicio">
                                        <div align="center">
                                            <h:outputText value="#{torneo.fechaHoraio}" />
                                            <br/>al<br/>
                                            <h:outputText value="#{torneo.fechahorariofin}" />
                                        </div>
                                    </p:column>

                                    <p:column headerText="Modifica">
                                        <div align="center">
                                            <p:commandButton  value="Modificar" actionListener="#{modificaTorneoManaged.cargaTorneo}" update="varmodifica">
                                                <f:param name="idTorneo" value="#{torneo.idTorneo}"/>
                                            </p:commandButton>
                                        </div>
                                    </p:column>
                                    <p:column headerText="Eliminar Torneo">
                                        <div align="center">
                                            <p:commandButton value="Eliminar Torneo" actionListener="#{modificaTorneoManaged.eliminaTor}">
                                                <f:param name="idTorneo" value="#{torneo.idTorneo}"/>
                                                <p:confirm header="Confirmación" message="¿Estas seguro?" icon="ui-icon-alert" />
                                            </p:commandButton>
                                        </div>

                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog>
                                    </p:column>



                                </p:dataTable>
                            </c:if>
                            <c:if test="#{modificaTorneoManaged.varmodifica == 1}">

                                <h:panelGrid columns="1" >
                                    <h3>Datos del torneo</h3>
                                    <p:separator />
                                    <h:panelGrid columns="7" cellpadding="1">
                                        <p:outputLabel value="Torneo:" />
                                        <p:inputText value="#{modificaTorneoManaged.nombre}"  required="true" requiredMessage="Nombre de torneo es un campo obligatorio."/>
                                        <p:outputLabel  value="Ámbito" />
                                        <p:selectOneMenu  value="#{modificaTorneoManaged.ambito}" style="width:100px">
                                            <p:ajax listener="#{modificaTorneoManaged.cargaPais}" update="varpais" />
                                            <f:selectItem itemLabel="Nacional" itemValue="1" />
                                            <f:selectItem itemLabel="Internacional" itemValue="2" />                  
                                        </p:selectOneMenu>

                                        <h:panelGrid columns="4" id="varpais">
                                            <c:if test="#{modificaTorneoManaged.varpais == 1}">
                                                <p:outputLabel value="País:" />
                                                <p:selectOneMenu value="#{modificaTorneoManaged.paisID}" >
                                                    <p:ajax listener="#{modificaTorneoManaged.cargaCiudades}" update="paisId2" />
                                                    <f:selectItems value="#{modificaTorneoManaged.paises}"/>   

                                                </p:selectOneMenu>
                                            </c:if>

                                            <p:outputLabel value="Metrópoli" />
                                            <p:selectOneMenu  value="#{modificaTorneoManaged.metropoliID}" id="paisId2"> 
                                                <f:selectItem itemLabel="Selecciona metropoli" itemValue="" noSelectionOption="true" />
                                                <f:selectItems value="#{modificaTorneoManaged.metropolis}"  />   

                                            </p:selectOneMenu>

                                        </h:panelGrid>


                                        <p:outputLabel value="Sede:" />
                                        <p:inputText value="#{modificaTorneoManaged.sede}"/>
                                        <p:outputLabel  value="Fecha de inicio:" />
                                        <p:calendar  value="#{modificaTorneoManaged.fechainitor}" pattern="dd/MM/yyyy HH:mm:ss" locale="es" />
                                        <p:outputLabel  value="Fecha de cierre:" />
                                        <p:calendar  value="#{modificaTorneoManaged.fechafintor}" pattern="dd/MM/yyyy HH:mm:ss" locale="es" />
                                    </h:panelGrid>

                                    <p:outputLabel  value="Género:" />
                                    <p:selectOneRadio  value="#{modificaTorneoManaged.genero}" >
                                        <f:selectItem itemLabel="Masculino" itemValue="1" />
                                        <f:selectItem itemLabel="Femenino" itemValue="2" />
                                        <f:selectItem itemLabel="Mixto" itemValue="3" />
                                    </p:selectOneRadio>


                                    <h3>Modalidades del torneo</h3>
                                    <p:separator />

                                    <h:panelGrid columns="1">


                                        <h:panelGrid columns="1" id="varformato">
                                            <h:panelGrid columns="11" id="varmultibolsa">
                                                <p:selectBooleanCheckbox value="#{modificaTorneoManaged.individual}" />
                                                <p:outputLabel value="Individual..." /> 
                                                <p:outputLabel  value="Formato:" />
                                                <p:selectOneMenu  value="#{modificaTorneoManaged.formato}" style="width:70px">
                                                    <p:ajax listener="#{modificaTorneoManaged.formatoMaya}" update="mayaFormind" />
                                                    <f:selectItem itemLabel="Sencillo" itemValue="1" />
                                                    <f:selectItem itemLabel="Multibolsa 2" itemValue="2" />  
                                                    <f:selectItem itemLabel="Multibolsa 3" itemValue="3" /> 
                                                    <f:selectItem itemLabel="Maya" itemValue="4" /> 
                                                </p:selectOneMenu>


                                                <p:inputText  value="#{modificaTorneoManaged.parind}" placeholder="No. partidas" size="6" >

                                                </p:inputText>
                                                <p:inputText value="#{modificaTorneoManaged.insind}" placeholder="Inscripción" size="6" >

                                                </p:inputText>
                                                <p:inputText value="#{modificaTorneoManaged.metaind}" placeholder="Meta" size="25" id="mayaFormind" >

                                                </p:inputText>
                                                <p:inputText value="#{modificaTorneoManaged.timeind}" placeholder="Tiempo por partida" size="6" >

                                                </p:inputText>
                                                <p:inputText value="#{modificaTorneoManaged.bolsa1ind}" placeholder="Bolsa 1" size="6" >

                                                </p:inputText>
                                                <p:inputText value="#{modificaTorneoManaged.bolsa2ind}" placeholder="Bolsa 2" size="6" >
                                                    <f:validateDoubleRange minimum="0" maximum="1000000" />
                                                </p:inputText>
                                                <p:inputText value="#{modificaTorneoManaged.bolsa3ind}" placeholder="Bolsa 3" size="6" >

                                                </p:inputText>


                                            </h:panelGrid>
                                        </h:panelGrid>





                                        <h:panelGrid columns="1" id="varformatopareja">

                                            <h:panelGrid columns="11" id="varmultibolsapareja"> 
                                                <p:selectBooleanCheckbox value="#{modificaTorneoManaged.pareja}"  />
                                                <p:outputLabel value="Pareja........" /> 
                                                <p:outputLabel  value="Formato:" />
                                                <p:selectOneMenu  value="#{modificaTorneoManaged.formatopareja}" style="width:70px">
                                                    <p:ajax listener="#{modificaTorneoManaged.formatoMayapar}" update="mayaFormpar" />
                                                    <f:selectItem itemLabel="Sencillo" itemValue="1" />
                                                    <f:selectItem itemLabel="Multibolsa 2" itemValue="2" /> 
                                                    <f:selectItem itemLabel="Multibolsa 3" itemValue="3" /> 
                                                    <f:selectItem itemLabel="Maya" itemValue="4" /> 
                                                </p:selectOneMenu>
                                                <p:inputText value="#{modificaTorneoManaged.parpar}" placeholder="No. partidas" size="6"/>
                                                <p:inputText value="#{modificaTorneoManaged.inspar}" placeholder="Inscripción" size="6"/>
                                                <p:inputText value="#{modificaTorneoManaged.metapar}" placeholder="Meta" size="25" id="mayaFormpar"/>
                                                <p:inputText value="#{modificaTorneoManaged.timepar}" placeholder="Tiempo por partida" size="6"/>
                                                <p:inputText value="#{modificaTorneoManaged.bolsa1par}" placeholder="Bolsa 1" size="6"/>

                                                <p:inputText value="#{modificaTorneoManaged.bolsa2par}" placeholder="Bolsa 2" size="6"/>
                                                <p:inputText value="#{modificaTorneoManaged.bolsa3par}" placeholder="Bolsa 3" size="6"/>

                                            </h:panelGrid>
                                        </h:panelGrid>



                                        <h:panelGrid columns="9">
                                            <p:selectBooleanCheckbox value="#{modificaTorneoManaged.equipo}" />
                                            <p:outputLabel value="Equipo........" />
                                            <p:outputLabel  value="Formato:" />
                                            <p:selectOneMenu  value="#{modificaTorneoManaged.formatoequipo}" style="width:70px">
                                                <p:ajax listener="#{modificaTorneoManaged.formatoMayaequ}" update="mayaFormequ" />
                                                <f:selectItem itemLabel="Sencillo" itemValue="1" />
                                                <f:selectItem itemLabel="Maya" itemValue="4" /> 
                                            </p:selectOneMenu>                                       
                                            <p:inputText value="#{modificaTorneoManaged.parequ}" placeholder="No. partidas" size="6"/>
                                            <p:inputText value="#{modificaTorneoManaged.insequ}" placeholder="Inscripción" size="6"/>
                                            <p:inputText value="#{modificaTorneoManaged.metaequ}" placeholder="Meta" size="25" id="mayaFormequ"/>
                                            <p:inputText value="#{modificaTorneoManaged.timeequ}" placeholder="Tiempo por partida" size="6"/>
                                            <p:inputText value="#{modificaTorneoManaged.bolsa1equ}" placeholder="Bolsa 1" size="6"/>
                                        </h:panelGrid>


                                    </h:panelGrid>



                                    <h3>Fechas de inscripción</h3>
                                    <p:separator />
                                    <h:panelGrid columns="2">
                                        <h:panelGrid columns="1">
                                            <h3>Por internet</h3> 
                                            <p:separator />
                                            <h:panelGrid columns="4">                 
                                                <p:outputLabel  value="Fecha de inicio:" />
                                                <p:calendar value="#{modificaTorneoManaged.fechainiinter}"  pattern="dd/MM/yyyy HH:mm:ss" locale="es" />
                                                <p:outputLabel  value="Fecha de cierre:" />
                                                <p:calendar value="#{modificaTorneoManaged.fechafininter}"  pattern="dd/MM/yyyy HH:mm:ss" locale="es" />
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid columns="1">
                                            <h3>En la sede</h3> 
                                            <p:separator />
                                            <h:panelGrid columns="4">
                                                <p:outputLabel  value="Fecha de inicio:" />
                                                <p:calendar value="#{modificaTorneoManaged.fechainisede}"  pattern="dd/MM/yyyy HH:mm:ss" locale="es" />
                                                <p:outputLabel  value="Fecha de cierre:" />
                                                <p:calendar value="#{modificaTorneoManaged.fechafinsede}"  pattern="dd/MM/yyyy HH:mm:ss" locale="es" />
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </h:panelGrid>






                                </h:panelGrid>
                                <p:commandButton  value="Guardar Modificaciones" actionListener="#{modificaTorneoManaged.updateTor}" update="mensaje"/>

                            </c:if>

                        </h:form>
                    </p:panelGrid>
                </div>
            </div>

        </div>     
    </h:body>                           

</html> 