<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">  
    <h:head>
        <link href="css/estilomenuadmin.css" type="text/css" rel="stylesheet" />
    </h:head>
    <h:body>

        <div id="container"> 

            <div id="menu" >
                <img src="img/logo2.jpg" />
                <ui:include src="menuadmin.xhtml"></ui:include>
            </div>
            <div id="content_sup">

            </div>
            <div id="content" >
                <h:form id="pago">
                    <h:panelGrid columns="1" cellpadding="1" >
                        <h:panelGrid columns="8" cellpadding="1">
                            <p:outputLabel value="Torneo       ...:" />
                            <p:selectOneMenu value="#{pagosAdManaged.idtorneo}" filter="true" filterMatchMode="startsWith" effect="fold" >
                                <f:selectItem itemLabel="Selecciona torneo" itemValue="" />
                                <p:ajax listener="#{pagosAdManaged.muestraJugadores}" update="jugadores" />
                                <f:selectItems value="#{pagosAdManaged.torneos}">   
                                </f:selectItems>
                            </p:selectOneMenu>

                            <p:outputLabel value="Pagó"  />
                            <p:outputLabel value="Individual"  />
                            <p:outputLabel value="Pareja"  />
                            <p:outputLabel value="Equipo"  /> 
                            <p:outputLabel value="Suma"  />
                            <p:outputLabel value="A pagar"  />

                            <p:outputLabel value="Jugador:" />
                            <p:selectOneMenu id="jugadores" value="#{pagosAdManaged.idjugador}"  filter="true" filterMatchMode="startsWith" effect="fold" >
                                <f:selectItem itemLabel="Selecciona jugador" itemValue="" />
                                <p:ajax listener="#{pagosAdManaged.modalidades}"  update="pago"/>
                                <f:selectItems value="#{pagosAdManaged.jugadores}">   
                                </f:selectItems>
                            </p:selectOneMenu>

                            <p:selectOneRadio id="radiobutton-test-one" value="#{pagosAdManaged.booind}" >
                                <f:selectItem itemLabel="" itemValue="" />
                            </p:selectOneRadio>
                            
                            
                            <p:outputLabel value="#{pagosAdManaged.insind}"  />
                            <p:outputLabel value="#{pagosAdManaged.inspar}"  />
                            <p:outputLabel value="#{pagosAdManaged.insequ}"  />
                            <p:outputLabel value="#{pagosAdManaged.suma}"  />
                            <p:selectBooleanCheckbox value="#{pagosAdManaged.checkindividual}" disabled="#{pagosAdManaged.chkind}"/> 
                            <p:outputLabel value="Pareja" /><p:outputLabel value="" /><p:outputLabel value="" />
                            <p:outputLabel value="" /><p:outputLabel value="" /><p:outputLabel value="" /><p:outputLabel value="" />
                            <p:outputLabel value="" />
                            <p:outputLabel value="" />
                            <p:outputLabel value="#{pagosAdManaged.parejaname}"  />
                            
                            <p:selectOneRadio value="#{pagosAdManaged.boopar}" >
                                <f:selectItem itemLabel="" itemValue="" />
                            </p:selectOneRadio>
                            
                            <p:outputLabel value="#{pagosAdManaged.insindpar}"  />
                            <p:outputLabel value="#{pagosAdManaged.insparpar}"  />
                            <p:outputLabel value="#{pagosAdManaged.insequpar}"  />
                            <p:outputLabel value="#{pagosAdManaged.sumapareja}"  />
                            
                            <p:selectBooleanCheckbox value="#{pagosAdManaged.checkpareja}" disabled="#{pagosAdManaged.chkpar}"/> 
                            
                            <p:outputLabel value="Equipo" /><p:outputLabel value="" /><p:outputLabel value="" />
                            <p:outputLabel value="" /><p:outputLabel value="" /><p:outputLabel value="" /><p:outputLabel value="" />
                            <p:outputLabel value="" />
                            <p:outputLabel value="" />                          
                            <p:outputLabel value="#{pagosAdManaged.equiponame1}"  />               
                            <p:selectOneRadio value="#{pagosAdManaged.booequ}" >
                                <f:selectItem itemLabel="" itemValue="" />
                            </p:selectOneRadio>
                            <p:outputLabel value="#{pagosAdManaged.insindequ1}"  />
                            <p:outputLabel value="#{pagosAdManaged.insparequ1}"  />
                            <p:outputLabel value="#{pagosAdManaged.insequequ1}"  />
                            <p:outputLabel value="#{pagosAdManaged.sumaequipo1}"  />
                            
                            <p:selectBooleanCheckbox value="#{pagosAdManaged.checkequipo1}" disabled="#{pagosAdManaged.chkeq1}"/> 
                            
                            <p:outputLabel value="" />
                            <p:outputLabel value="#{pagosAdManaged.equiponame2}"  />
                            
                            <p:selectOneRadio value="#{pagosAdManaged.booequ2}" >
                                <f:selectItem itemLabel="" itemValue="" />
                            </p:selectOneRadio>
                            
                            
                            <p:outputLabel value="#{pagosAdManaged.insindequ2}"  />
                            <p:outputLabel value="#{pagosAdManaged.insparequ2}"  />
                            <p:outputLabel value="#{pagosAdManaged.insequequ2}"  />
                            <p:outputLabel value="#{pagosAdManaged.sumaequipo2}"  />
                            <p:selectBooleanCheckbox value="#{pagosAdManaged.checkequipo2}" disabled="#{pagosAdManaged.chkeq2}"/> 
                            <p:outputLabel value="" />
                            <p:outputLabel value="#{pagosAdManaged.equiponame3}"  />
                            
                            <p:selectOneRadio value="#{pagosAdManaged.booequ3}" >
                                <f:selectItem itemLabel="" itemValue="" />
                            </p:selectOneRadio>
                            
                            <p:outputLabel value="#{pagosAdManaged.insindequ3}"  />
                            <p:outputLabel value="#{pagosAdManaged.insparequ3}"  />
                            <p:outputLabel value="#{pagosAdManaged.insequequ3}"  />
                            <p:outputLabel value="#{pagosAdManaged.sumaequipo3}"  />
                            <p:selectBooleanCheckbox value="#{pagosAdManaged.checkequipo3}" disabled="#{pagosAdManaged.chkeq3}"/> 
                            <p:outputLabel value="" /><p:outputLabel value="" />
                            <p:outputLabel value="" /><p:outputLabel value="" />
                            <p:outputLabel value="" /><p:outputLabel value="" />
                            <p:outputLabel value="Total" />
                            <h:panelGrid columns="2" cellpadding="1">
                                <p:inputText value="#{pagosAdManaged.sumatotal}"  size="4" id="total"/>
                                <p:commandButton  value="Calcular total" actionListener="#{pagosAdManaged.calculaTotal}" update="total"/>
                            </h:panelGrid>
                        </h:panelGrid>
                    </h:panelGrid>
                    
                    
                    <h:panelGrid columns="1" cellpadding="5">
                        <p:commandButton  value="Confirmar pareja y equipo" actionListener="#{pagosAdManaged.confirmaPago}" update="pago1"/>
                    </h:panelGrid>
                    
                    
                    <br/>
                    <h:panelGrid columns="2" cellpadding="1" id="pago1">
                        <c:if test="#{pagosAdManaged.pago == 1}" >
                            <p:outputPanel id="mediosPago" >
                                <h5>Medios de Pago</h5>
                                <p:selectOneRadio id="seleccionPago" value="#{pagosAdManaged.tarjeta}" layout="custom">
                                    <f:selectItem itemLabel="Efectivo" itemValue="#{false}" />
                                    <f:selectItem itemLabel="Pago con tarjeta" itemValue="#{true}" />
                                </p:selectOneRadio> 
                                <h:panelGrid columns="3" cellpadding="1">
                                    <p:radioButton id="optEfectivo" for="seleccionPago" itemIndex="0" onchange="submit()"/>
                                    <h:outputLabel for="optEfectivo" value="Efectivo" />
                                    <h:panelGrid id="modoEfectivo" columns="1" cellpadding="1" rendered="#{!pagosAdManaged.tarjeta}" >
                                        <p:commandButton value="Pagar" actionListener="#{pagosAdManaged.efectivoPago}"/>
                                    </h:panelGrid>
                                </h:panelGrid>
                                <h:panelGrid id="tarjetas" columns="2" cellpadding="1" >
                                    <h:panelGrid columns="3" cellpadding="1">
                                        <p:radioButton id="optDebito" for="seleccionPago" itemIndex="1" onchange="submit()" />
                                        <h:outputLabel for="optDebito" value="Pago con Tarjeta" />
                                    </h:panelGrid>
                                    <h:panelGrid columns="1" cellpadding="1" rendered="#{pagosAdManaged.tarjeta}" >
                                        <p:selectOneRadio id="seleccionTarjeta" layout="grid" columns="1">
                                            <f:selectItem itemLabel="Tarjeta de Crédito" itemValue="Tarjeta de Crédito" />
                                            <f:selectItem itemLabel="Tarjeta de Débito" itemValue="Tarjeta de Débito" />
                                        </p:selectOneRadio>
                                    </h:panelGrid>
                                </h:panelGrid>
                                <h:panelGrid columns="7" cellpadding="1" rendered="#{pagosAdManaged.tarjeta}">
                                    <p:outputLabel  value="Indentificación" />
                                    <p:selectOneMenu  value="#{pagosAdManaged.iden}" style="width:125px">
                                        <f:selectItem itemLabel="INE" itemValue="INE" />
                                        <f:selectItem itemLabel="Cédula profesional" itemValue="Cédula profesional" />
                                        <f:selectItem itemLabel="Cartilla" itemValue="Cartilla" />
                                        <f:selectItem itemLabel="Pasaporte" itemValue="Pasaporte" />
                                        <f:selectItem itemLabel="Licencia" itemValue="Licencia" />
                                        <f:selectItem itemLabel="INAPAM" itemValue="INAPAM" />
                                    </p:selectOneMenu>
                                    
                                    <p:outputLabel value="Número de identificación" />
                                     <p:inputText value="#{pagosAdManaged.noiden}"/>
                             
                                    <p:outputLabel value="Comentarios" />
                                    <p:inputTextarea value="#{pagosAdManaged.comen}">
                                        <f:validateLength maximum="150" />
                                    </p:inputTextarea>
                                    <p:commandButton value="Pagar" actionListener="#{pagosAdManaged.tarjetaPago}"/> 
                                </h:panelGrid>

                            </p:outputPanel>
                        </c:if>
                    </h:panelGrid>
                </h:form>
            </div>
        </div> 
    </h:body>
</html>
