<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">  
    <h:head>
        <link href="css/estilomenuadmin.css" type="text/css" rel="stylesheet" />
    </h:head>
    <h:body>

        <div id="container"> 

            <div id="menu" >
                <img src="img/logo2.jpg" />
                <ui:include src="menuadmin.xhtml"></ui:include>
            </div>
            <div id="content_sup">

            </div>
            <div id="content" >
                <h:form >
                    <h:panelGrid id="table2" columns="1" cellpadding="1">
                        <h:panelGrid id="table" columns="2" cellpadding="1">
                            <p:commandButton  value="Generar 1 partida" actionListener=
                                              "#{randomManaged.listaRandom}" update="table" />
                           
                            
                            <c:if test="#{randomManaged.variable2 == 1}"> 
                                <h:panelGrid  columns="1" cellpadding="1">
                                    <h:panelGrid  columns="8" cellpadding="1">
                                        <p:outputLabel value="Ingresa Id jugador: " />
                                        <p:inputText value="#{randomManaged.id1}" />
                                        <p:inputText value="#{randomManaged.id2}" />
                                        <p:commandButton  value="Modifica Random" actionListener=
                                                          "#{randomManaged.modificaRandom}" update="tbl" />
                                        <p:commandButton  value="Genera Papeletas" actionListener=
                                                          "#{randomManaged.generaPapeletas}"  />
                                        <div align="right">
                                            <h:commandLink>
                                                <p:graphicImage value="img/excel.png" width="24"/>
                                                <p:dataExporter type="xls" target="tbl" fileName="mesas" />
                                            </h:commandLink>
                                        </div>
                                    </h:panelGrid>


                                    <p:dataTable id="tbl" var="mesa" value="#{randomManaged.players}" 
                                                 rows="5" paginator="true" rendered = "true">
                                        <f:facet name="header" >
                                            Repartición de mesas
                                        </f:facet>
                                        <p:column>
                                            <f:facet name="header">
                                                Mesa
                                            </f:facet>
                                            <h:outputText value="#{mesa.mesa}" />

                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                Jugador 1
                                            </f:facet>
                                            <h:outputText value="#{mesa.jugador1}" />

                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                Jugador 2
                                            </f:facet>
                                            <h:outputText value="#{mesa.jugador2}" />
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                Jugador 3
                                            </f:facet>
                                            <h:outputText value="#{mesa.jugador3}" />
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                Jugador 4
                                            </f:facet>
                                            <h:outputText value="#{mesa.jugador4}" />
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGrid>
                            </c:if>  
                        </h:panelGrid>
                    </h:panelGrid>
                </h:form>
            </div>

        </div> 



    </h:body>
</html>