<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">  
    <h:head>
        <link href="css/estilomenuadmin.css" type="text/css" rel="stylesheet" />

    </h:head>
    <h:body>
        <div id="container"> 

            <div id="menu" >
                <img src="img/logo2.jpg" />
                <ui:include src="menuadmin.xhtml"></ui:include>
            </div>
            <div id="content_sup">

            </div>
            <div id="content" >
                <div class="ui-grid ui-grid-responsive">
                    <p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-15" layout="grid" styleClass="ui-panelgrid-blank">
                        <h:panelGrid cellpadding="1" id="tabla">
                            <h:form >
                                <p:growl  showDetail="true" sticky="true" />
                               
                                <h3>Agregar País</h3>

                                <h:panelGrid columns="3" cellpadding="1">
                                    <p:outputLabel value="País:" />
                                    <p:inputText value="#{paisManaged.paisn}"  required="true" requiredMessage="Pais es un campo obligatorio."/>
                                    <p:commandButton  value="Guardar" actionListener="#{paisManaged.guardaPais}" update="tabla"/>
                                </h:panelGrid>
                            </h:form>
                            <h:form >
                                <p:separator />
                                <h3>Modificar o Eliminar País</h3>

                                <h:panelGrid >
                                    <p:dataTable var="pais" value="#{paisManaged.paises}" paginator="true" rows="10"
                                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                 rowsPerPageTemplate="5,10,15" style="width: 1000px" id="tablaelimina">

                                        <p:column headerText="Nombre" >
                                            <div align="center">
                                                <h:outputText value="#{pais.nombre}" />    
                                            </div>
                                        </p:column>

                                        <p:column headerText="Modifica">
                                            <div align="center">
                                                <p:commandButton   value="Modificar" actionListener="#{paisManaged.modificaPais}"  onclick="PF('dlg2').show();" >
                                                    <f:param name="idPais" value="#{pais.id}"/>
                                                    <f:param name="nombre" value="#{pais.nombre}"/>
                                                </p:commandButton>
                                            </div>
                                        </p:column>
                                        <p:column headerText="Eliminar">
                                            <div align="center">
                                                <p:commandButton value="Eliminar" actionListener="#{paisManaged.deletePais}" update="tablaelimina" >
                                                    <f:param name="idPais" value="#{pais.id}"/>
                                                    <p:confirm header="Confirmación" message="¿Estas seguro?" icon="ui-icon-alert" />
                                                </p:commandButton>
                                            </div>
                                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                            </p:confirmDialog>
                                        </p:column>



                                    </p:dataTable>
                                    <p:dialog header="Modifica País" widgetVar="dlg2" modal="true" height="100" resizable="false">
                                        <h:panelGrid columns="3" cellpadding="1">
                                            <h:outputText value="País" />
                                            <h:inputText value="#{paisManaged.nompais}" />
                                            <p:commandButton value="Actualizar" actionListener="#{paisManaged.updatePais}"/> 
                                        </h:panelGrid>
                                    </p:dialog>
                                </h:panelGrid>
                            </h:form>
                        </h:panelGrid>
                    </p:panelGrid>
                </div>


            </div>

        </div>   
    </h:body>
</html>
