<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">  

    <h:head>  
        <script>
            PrimeFaces.locales["es"] = {
                closeText: "Cerrar",
                prevText: "Anterior",
                nextText: "Siguiente",
                monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthNamesShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                dayNames: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                weekHeader: "Semana",
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: "",
                timeOnlyTitle: "Solo hora",
                timeText: "Tiempo",
                hourText: "Hora",
                minuteText: "Minuto",
                secondText: "Segundo",
                currentText: "Fecha actual",
                ampm: false,
                month: "Mes",
                week: "Semana",
                day: "Día",
                allDayText: "Todo el día"
            };

        
        </script>
        <link href="css/estilomenuadmin.css" type="text/css" rel="stylesheet" />
    </h:head> 



    <h:body> 
        <div id="container"> 

            <div id="menu" >
                <img src="img/logo2.jpg" />
                <ui:include src="menuadmin.xhtml"></ui:include>
            </div>
            <div id="content_sup">

            </div>
            <div id="content" >
                <div class="ui-grid ui-grid-responsive">
                    <p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-15" layout="grid" styleClass="ui-panelgrid-blank">
                        <h:form>
                            <p:growl id="mensaje" showDetail="true" sticky="true" /> 
                            <!--<p:messages id="mensaje" showDetail="true" autoUpdate="true" />-->

                            <h3>Datos del torneo</h3>
                            <p:separator />
                            <h:panelGrid columns="7" cellpadding="1">
                                <p:outputLabel value="Torneo:" />
                                <p:inputText value="#{registroTorneoManaged.nombre}"  required="true" requiredMessage="Nombre de torneo es un campo obligatorio."/>
                                <p:outputLabel  value="Ámbito" />
                                <p:selectOneMenu  value="#{registroTorneoManaged.ambito}" style="width:100px">
                                    <p:ajax listener="#{registroTorneoManaged.cargaPais}" update="varpais" />
                                    <f:selectItem itemLabel="Nacional" itemValue="1" />
                                    <f:selectItem itemLabel="Internacional" itemValue="2" />                  
                                </p:selectOneMenu>
                                <h:panelGrid columns="4" id="varpais">
                                    <c:if test="#{registroTorneoManaged.varpais == 1}">
                                        <p:outputLabel value="País:" />
                                        <p:selectOneMenu value="#{registroTorneoManaged.paisID}" >
                                            <p:ajax listener="#{registroTorneoManaged.cargaCiudades}" update="paisId" />
                                            <f:selectItems value="#{registroTorneoManaged.paises}">   
                                            </f:selectItems>
                                        </p:selectOneMenu>
                                    </c:if>

                                    <p:outputLabel value="Metrópoli" />
                                    <p:selectOneMenu  id="paisId" value="#{registroTorneoManaged.metropoliID}" > 
                                        <f:selectItem itemLabel="Selecciona metropoli" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{registroTorneoManaged.metropolis}"  >   
                                        </f:selectItems>
                                    </p:selectOneMenu>
                                </h:panelGrid>
                                <p:outputLabel value="Sede:" />
                                <p:inputText value="#{registroTorneoManaged.sede}"/>
                                <p:outputLabel  value="Fecha de inicio:" />
                                <p:calendar  value="#{registroTorneoManaged.fechainitor}" pattern="dd/MM/yyyy HH:mm:ss" locale="es" />
                                <p:outputLabel  value="Fecha de cierre:" />
                                <p:calendar  value="#{registroTorneoManaged.fechafintor}" pattern="dd/MM/yyyy HH:mm:ss" locale="es" />
                            </h:panelGrid>

                            <p:outputLabel  value="Género:" />
                            <p:selectOneRadio  value="#{registroTorneoManaged.genero}">
                                <f:selectItem itemLabel="Masculino" itemValue="1" />
                                <f:selectItem itemLabel="Femenino" itemValue="2" />
                                <f:selectItem itemLabel="Mixto" itemValue="3" />
                            </p:selectOneRadio>


                            <h3>Modalidades del torneo</h3>
                            <p:separator />
                            <h:panelGrid columns="1">




                                <h:panelGrid columns="1" id="varformato">


                                    <h:panelGrid columns="11" id="varmultibolsa">
                                        <p:selectBooleanCheckbox value="#{registroTorneoManaged.individual}" />
                                        <p:outputLabel value="Individual..." /> 
                                        <p:outputLabel  value="Formato:" />
                                        <p:selectOneMenu  value="#{registroTorneoManaged.formato}" style="width:70px">
                                            <p:ajax listener="#{registroTorneoManaged.formatoMaya}" update="mayaFormind" />
                                            <f:selectItem itemLabel="Sencillo" itemValue="1" />
                                            <f:selectItem itemLabel="Multibolsa 2" itemValue="2" />  
                                            <f:selectItem itemLabel="Multibolsa 3" itemValue="3" /> 
                                            <f:selectItem itemLabel="Maya" itemValue="4" /> 
                                        </p:selectOneMenu>
                                        <p:inputText  value="#{registroTorneoManaged.parind}" placeholder="No. partidas" size="6" />
                                        <p:inputText value="#{registroTorneoManaged.insind}" placeholder="Inscripción" size="6" />
                                        <p:inputText value="#{registroTorneoManaged.metaind}" placeholder="Meta" size="25" id="mayaFormind"/>
                                        <p:inputText value="#{registroTorneoManaged.timeind}" placeholder="Tiempo por partida" size="6" />
                                        <p:inputText value="#{registroTorneoManaged.bolsa1ind}" placeholder="Bolsa 1" size="6" />
                                        <p:inputText value="#{registroTorneoManaged.bolsa2ind}" placeholder="Bolsa 2" size="6" />
                                        <p:inputText value="#{registroTorneoManaged.bolsa3ind}" placeholder="Bolsa 3" size="6" />

                                    </h:panelGrid>
                                </h:panelGrid>



                                <h:panelGrid columns="1" id="varformatopareja">

                                    <h:panelGrid columns="11" id="varmultibolsapareja">
                                        <p:selectBooleanCheckbox value="#{registroTorneoManaged.pareja}"  />
                                        <p:outputLabel value="Pareja........" /> 
                                        <p:outputLabel  value="Formato:" />
                                        <p:selectOneMenu  value="#{registroTorneoManaged.formatopareja}" style="width:70px">
                                            <p:ajax listener="#{registroTorneoManaged.formatoMayapar}" update="mayaFormpar" />
                                            <f:selectItem itemLabel="Sencillo" itemValue="1" />
                                            <f:selectItem itemLabel="Multibolsa 2" itemValue="2" /> 
                                            <f:selectItem itemLabel="Multibolsa 3" itemValue="3" /> 
                                            <f:selectItem itemLabel="Maya" itemValue="4" /> 
                                        </p:selectOneMenu>
                                        <p:inputText value="#{registroTorneoManaged.parpar}" placeholder="No. partidas" size="6"/>
                                        <p:inputText value="#{registroTorneoManaged.inspar}" placeholder="Inscripción" size="6"/>
                                        <p:inputText value="#{registroTorneoManaged.metapar}" placeholder="Meta" size="25" id="mayaFormpar"/>
                                        <p:inputText value="#{registroTorneoManaged.timepar}" placeholder="Tiempo por partida" size="6"/>
                                        <p:inputText value="#{registroTorneoManaged.bolsa1par}" placeholder="Bolsa 1" size="6"/>
                                        <p:inputText value="#{registroTorneoManaged.bolsa2par}" placeholder="Bolsa 2" size="6"/>
                                        <p:inputText value="#{registroTorneoManaged.bolsa3par}" placeholder="Bolsa 3" size="6"/>

                                    </h:panelGrid>
                                </h:panelGrid>



                                <h:panelGrid columns="9">
                                    <p:selectBooleanCheckbox value="#{registroTorneoManaged.equipo}" />
                                    <p:outputLabel value="Equipo........" /> 
                                    <p:outputLabel  value="Formato:" />
                                    <p:selectOneMenu  value="#{registroTorneoManaged.formatoequipo}" style="width:70px">
                                        <p:ajax listener="#{registroTorneoManaged.formatoMayaequ}" update="mayaFormequ" />
                                        <f:selectItem itemLabel="Sencillo" itemValue="1" />
                                        <f:selectItem itemLabel="Maya" itemValue="4" /> 
                                    </p:selectOneMenu>
                                    <p:inputText value="#{registroTorneoManaged.parequ}" placeholder="No. partidas" size="6"/>
                                    <p:inputText value="#{registroTorneoManaged.insequ}" placeholder="Inscripción" size="6"/>
                                    <p:inputText value="#{registroTorneoManaged.metaequ}" placeholder="Meta" size="25" id="mayaFormequ"/>
                                    <p:inputText value="#{registroTorneoManaged.timeequ}" placeholder="Tiempo por partida" size="6"/>
                                    <p:inputText value="#{registroTorneoManaged.bolsa1equ}" placeholder="Bolsa 1" size="6"/>
                                </h:panelGrid>



                            </h:panelGrid>
                            <h3>Fechas de inscripción</h3>
                            <p:separator />
                            <h:panelGrid columns="2">
                                <h:panelGrid columns="1">
                                    <h3>Por internet</h3> 
                                    <p:separator />
                                    <h:panelGrid columns="4">                 
                                        <p:outputLabel  value="Fecha de inicio:" />
                                        <p:calendar value="#{registroTorneoManaged.fechainiinter}"  pattern="dd/MM/yyyy HH:mm:ss" locale="es" />
                                        <p:outputLabel  value="Fecha de cierre:" />
                                        <p:calendar value="#{registroTorneoManaged.fechafininter}"  pattern="dd/MM/yyyy HH:mm:ss" locale="es" />
                                    </h:panelGrid>
                                </h:panelGrid>
                                <h:panelGrid columns="1">
                                    <h3>En la sede</h3> 
                                    <p:separator />
                                    <h:panelGrid columns="4">
                                        <p:outputLabel  value="Fecha de inicio:" />
                                        <p:calendar value="#{registroTorneoManaged.fechainisede}"  pattern="dd/MM/yyyy HH:mm:ss" locale="es" />
                                        <p:outputLabel  value="Fecha de cierre:" />
                                        <p:calendar value="#{registroTorneoManaged.fechafinsede}"  pattern="dd/MM/yyyy HH:mm:ss" locale="es" />
                                    </h:panelGrid>
                                </h:panelGrid>
                            </h:panelGrid>

                            <div align="center">
                                <p:commandButton  value="Guardar" actionListener="#{registroTorneoManaged.insertaTor}" update="mensaje"/>
                            </div>
                        </h:form>
                    </p:panelGrid>
                </div>
            </div>

        </div> 
    </h:body>                           

</html> 
